@media (max-width: 400px){
.shards-app-promo-page--1 .welcome .welcome-heading {
    font-size: 3.2rem;
}
}

.card-img-top  {
    filter: grayscale(40%);
}
.avatar {
    filter: grayscale(40%);
    filter: blur(5%);
}



.ui-pnotify{ 
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0px 7px 20px 0px #e8e8e85e;
}


.brighttheme-success  {
    border: 2px solid #8db23a;
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0px 7px 20px 0px #8eb23a4b;
}

.brighttheme-error {
    border: 2px solid #a94545;
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0px 7px 20px 0px #a945454a;
    color: #a94545;
}


ul{
    font-family: 'Tajawal', sans-serif;
    font-weight: 400;
    line-height: 1.2em;
}

.btn{
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
    line-height: 1.2em;

}



.body {
    background: white;
}

.shards-app-promo-page--1 .welcome {
    height: fit-content !important;
    background-color: white;
    filter: blur(20%);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,ffffff+100 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    /* background: none; */
    /* background-blend-mode: soft-light; */
}

.shards-app-promo-page--1 .welcome:before {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,ffffff+100 */
    background: rgb(247, 247, 247);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

p {
    font-family: 'Tajawal', sans-serif;
    color: #707070;
    font-weight: 400;
    line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5 {
    color: #707070;
    font-family: 'Tajawal', sans-serif;
    font-weight: 700;
}

.card {
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.02, 1.02);
}

.btn.btn-pill {
    border-radius: 5px;
}

.feature-text {
    font-size: 1.2em;
}

.btn-outline-success {
    background-color: transparent;
    background-image: none;
    border-color: #8db23a;
    color: #8db23a;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #8db23a;
    border-color: #8db23a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(142, 178, 58, 0.247);
}

.text-success {
    color: #8db23a !important;
}

.btn-success {
    color: #fff;
    border-color: #8db23a;
    background-color: #8db23a;
    box-shadow: none;
}

.btn-success.disabled,
.btn-success:disabled {
    background-color: #8db23a;
    border-color: #8db23a;
    box-shadow: none;
    cursor: not-allowed;
}

.btn-success:hover {
    color: #fff;
    background-color: #8db23a;
    border-color: #8db23a;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 4px 20px rgba(142, 178, 58, 0.6);
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #8db23a;
    border-color: #8db23a;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #8db23a;
    border-color: #8db23a;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
    box-shadow: 0 0 0 3px rgba(141, 178, 58, 0.05), 0 3px 15px rgba(141, 178, 58, 0.2), 0 2px 5px rgba(0, 0, 0, 0.247) !important;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 3px rgba(142, 178, 58, 0.2), 0 3px 15px rgba(142, 178, 58, 0.1), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text-bundy-green {
    font-weight: 600;
    color: #8db23a;
}

.text-bundy-blue {
    font-weight: 600;
    color: #3A8DB2;
}




.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8db23a;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: transparent;
    background-color: #8db23a;
    box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #8db23a;
}

[data-notify='progressbar'] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.card {
    background-color: #fff;
    border-radius: 0.625rem;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 7px 20px 0px #e8e8e85e;
}
